<div [hidden]="!isLoginOK" style=" height: 100vh;">
    <div id="header">
        <div class="container">
            <div id="logo">
                <a [routerLink]="['/home']">
                    <img src="logo.png">
                </a>
            </div>
            <div style="display:flex; justify-content: center; align-items: center; margin-right: 5vh; height: 40px;">
                <div style="display:flex; justify-content: center; align-items: center; margin-right: 5vh;" id="wechatimageurl_home">
                    <img style="height: 35px;" src="{{wechatImageURL}}" />
                </div>
                <div style="display:flex; justify-content: center; align-items: center;" id="wechatname_home">
                    <p style="margin: 0;">{{wechatName}}</p>
                </div>
                <div (click)="showMyQRcode()" style="margin-left: 5vh;">
                   <i class="fa fa-qrcode fa-2x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="modal fade" id="test_modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <div style="display: flex; justify-content: center; align-items: center;">
                    <h3 style="color: white;">My QR Code</h3>
                </div>
            </div>
            <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                <div style="height: 30vh; width: 60vh; background-color: white; display: flex; justify-content: center; align-items: center;">
                    <div id="qrcode2" style="width:200px; height:200px; margin-top:15px;">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>

<div [hidden]="isLoginOK" id="login" style="background-color: white; padding-top: 20vh; height: 100vh;">
    <div id="loadingContainer" [hidden]="isCounterDown">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-centered">
                    <div class="pull-right">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-sm-7 col-centered">
                    <span class="label label-default">{{productsService._storeId}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-centered">
                    <div class="pull-right">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-sm-7 col-centered">
                    <span class="label label-default">{{productsService._token}}</span>
                </div>
            </div>
        </div>
        <div style="display:flex; flex-direction: column; align-items: center;">
            <div [hidden]="!isLoadingOK" id="qrcode" style="width:200px; height:200px; margin-top:15px;">
            </div>
            <div [hidden]="isLoadingOK" id="qrloading" style="margin-top: 30px; font-size: 20px;">
                <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                <span>Loading...</span>
            </div>
            <div [hidden]="!isLoadingOK" id="qrword" style="margin-top: 30px; font-size: 20px;">
                <span>Scan qrcode to login in pos</span>
            </div>
        </div>
    </div>
    <div id="counterdownContainer" [hidden]="!isCounterDown || isLoginOK">
        <div id="counterdown" style="display:flex; justify-content: center; flex-direction: column; align-items: center;">
            <div class="clock" style="margin:2em; display: flex; justify-content: center">
            </div>
        </div>
        <div id="wechat">
            <div style="display: flex; justify-content: center">
                <img style="height: 50px;" src="POS.png" /> Login OK!
            </div>
            <div style="justify-content: center; display: flex;">
                <div id="wechatimageurl">
                    <img style='height: 200px;' src='{{wechatImageURL}}' />
                </div>
            </div>
            <br/>
            <div style="justify-content: center; display: flex;">
                <div id="wechatname" style="font-size: 40px; font-weight: bold;">
                    <p>{{wechatName}}</p>
                </div>
            </div>
        </div>
    </div>
</div>