<div id="header">
    <div class="container">
        <div id="logo">
            <a [routerLink]="['/home']">
                <img src="logo.png">
            </a>
        </div>
        <div style="display:flex; justify-content: center; align-items: center; float: right; margin-right: 5vh; height: 40px;">
            <div style="display:flex; justify-content: center; align-items: center; margin-right: 5vh;" id="wechatimageurl_home"></div>
            <div style="display:flex; justify-content: center; align-items: center;" id="wechatname_home"></div>
        </div>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>