@{
    ViewBag.Title = "PhotoGallery";
}

@section styles
{
    <link href="~/lib/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.core.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.bootstrap.css" rel="stylesheet" />
    <link href="~/lib/css/flipclock.css" rel="stylesheet" />
    <link href="~/lib/css/style.css" rel="stylesheet" />
    @*<link href="~/lib/css/alertify.default.css" rel="stylesheet" />*@
}

<photogallery-app style="height: 100vh;" id="photogallery">
    <div style="display:flex; justify-content: center; align-items: center; font-size: 20px; height: 100vh; background-color: white;">
        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        <span>Loading...</span>
    </div>
</photogallery-app>

@section scripts
{
    <script src="~/lib/js/jquery.fancybox.pack.js"></script>
    <script src="~/lib/js/alertify.min.js"></script>
    <script src="~/lib/js/qrcode.min.js"></script>
    <script src="~/lib/js/flipclock.min.js"></script>
}

@section customScript
{
    System.import('app').catch(console.log.bind(console));
    
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });

    var serverFeed = {};
}