@{
    ViewBag.Title = "PhotoGallery";
}

@section styles
{
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.core.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.bootstrap.css" rel="stylesheet" />
    @*<link href="~/lib/css/alertify.default.css" rel="stylesheet" />*@
}

<div id="nav-separator"></div>

<!--<photogallery-app>
    <div class="loading">Loading</div>
</photogallery-app>-->

<div style="display:flex; justify-content: center; flex-direction: column; align-items: center;">
    <div id="qrcode" style="width:200px; height:200px; margin-top:15px;"></div>
    <div id="qrword" style="margin-top: 30px; font-size: 20px;">
        <span>Scan qrcode to login in pos</span>
    </div>
    <div id="wechat" style="display:none;">
        <div>
            <img style="height: 50px;" src="http://dev.netsdl.com/weixin/POS.png"></img> Login OK!
        </div>
        <div style="justify-content: center; display: flex;">
            <div id="wechatimageurl"></div>
        </div>
        <br/>
        <div style="justify-content: center; display: flex;">
            <div id="wechatname" style="font-size: 40px; font-weight: bold;"></div>
        </div>
    </div>
<div>

@section scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>    
    <script src="~/lib/js/jquery.fancybox.pack.js"></script>
    <script src="~/lib/js/alertify.min.js"></script>
    <script src="~/lib/js/qrcode.min.js"></script>
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>

    <script src="~/lib/core-js/client/shim.min.js"></script>
    <script src="~/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/lib/systemjs/dist/system.src.js"></script>
    <!--for signalr -->
    <script src='/signalr/js'></script>
}

@section customScript
{
    System.import('app').catch(console.log.bind(console));
    
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });

    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width : 200,
        height : 200
    });

    function makeCode (qrValue) {		
        if (!qrValue) {
            return;
        }
        qrcode.makeCode(qrValue);
    }

    makeCode('{type:pos,id:1}');

    $.connection.hub.start().done(function (response) {
       console.log("connection ok:" + response.id);
       $.connection.broadcaster.server.subscribe(1);
    });

    $.connection.broadcaster.client.addFeed = function (feed){
        console.log("server call back:" + feed);

        $("#qrcode").hide();
        $("#qrword").hide();
        $("#wechatimageurl").html("<img style='height: 400px;' src='"+ feed.WechatImageUrl +"'></img>");
        $("#wechatname").html("<p>" + feed.WechatName + "</p>");
        $("#wechat").show();
        console.log("login ok!" );

    }

    /*setTimeout(checkUser, 500);
    function checkUser()
    {
        $.ajax({
            url: '/api/account/authenticate',
            headers: {
                'Content-Type':'application/json'
            },
            method: 'POST',
            dataType: 'json',
            data: "{Username:'POS', Password:'111'}",
            success: function(data){
                console.log('succes: '+data.Succeeded);
                if(data.Succeeded){
                     deleteUser(data.Message);
                     $("#qrcode").hide();
                     $("#qrword").hide();
                     $("#wechatimageurl").html("<img style='height: 400px;' src='"+ data.WechatImageURL +"'></img>");
                     $("#wechatname").html("<p>" + data.WechatName + "</p>");
                     $("#wechat").show();
                     console.log("login ok!" );
                }
                else{
                    setTimeout(checkUser, 100);
                    console.log("check again");
                }
            }
        });
    }

    function deleteUser(id)
    {
        $.ajax({
            url: '/api/account/delete/' + id,
            headers: {
                'Content-Type':'application/json'
            },
            method: 'get',
            dataType: 'json',
            success: function(data){
                console.log('succes: '+ data);
            }
        });
    }*/

}