<!-- first block start -->
<div id="mainDiv" class="main">
    <div class="container">
        <div id="leftbox" class="left-col">
            <div class="cart">
                <h2>Shopping Cart</h2>
                <ul class="items">
                    <li *ngFor="let s of cart.cartSkus" [ngClass]="{'selected':cart.IsActiveCartSku(s.SkuId)}" (click)="cart.SelectedActiveCartSku(s.SkuId)">

                        <div class="left">

                            <span class="p-name">{{s.SkuName}}</span>
                            <span class="p-nb">Orig Price:{{s.SPrice}}</span>
                            <span ng-show="s.OffRate == -20" class="p-nb">Input Price:{{s.PPrice}}</span>
                            <span ng-show="s.OffRate != -20 && s.OffRate != 100" class="p-nb">Discount:{{s.OffRate}}%</span>
                            <span class="p-nb"> Qty:{{s.Qty}}</span>


                        </div>
                        <span class="p-price">{{s.GetPAmt()}}</span>
                        <span class="clear"></span>
                    </li>
                </ul>
                <div class="multiple">Multiple:{{cart.GetMultiple()}}</div>
                <div class="count">
                    Total：{{cart.GetTotalAmt()}}
                </div>
            </div>

            <div class="cal">
                <input type="hidden" />
                <div class="keyboard item">
                    <ul>
                        <li><a href="#/home" (click)="cart.OperatorCmd(1)">1</a></li>
                        <li><a href="#/home" (click)="cart.OperatorCmd(2)">2</a></li>
                        <li><a href="#/home" (click)="cart.OperatorCmd(3)">3</a></li>
                        <li><a href="#/home" (click)="cart.OperatorCmd(4)">4</a></li>
                        <li><a href="#/home" (click)="cart.OperatorCmd(5)">5</a></li>
                        <li><a href="#/home" (click)="cart.OperatorCmd(6)">6</a></li>
                        <li><a href="#/home" (click)="cart.OperatorCmd(7)">7</a></li>
                        <li><a href="#/home" (click)="cart.OperatorCmd(8)">8</a></li>
                        <li><a href="#/home" (click)="cart.OperatorCmd(9)">9</a></li>
                        <li class="pd-btn"><a href="#/home" (click)="cart.OperatorCmd('mp')">+/-</a></li>
                        <li><a href="#/home" (click)="cart.OperatorCmd(0)">0</a></li>
                        <li><a href="#/home" (click)="cart.OperatorCmd('p')">.</a></li>
                    </ul>
                </div>
                <div class="cal-cate item">
                    <ul>
                        <li>
                            <a href="#/home" (click)="cart.SetQtyOperator()" [ngClass]="{color: cart.IsQtyOperator() ? 'darkgrey' : '#444'}">QTY</a>
                        </li>
                        <li>
                            <a href="#/home" (click)="cart.SetDiscountOperator()" [ngClass]="{color: cart.IsDiscountOperator() ? 'darkgrey' : '#444'}">DCT</a>
                        </li>
                        <li>
                            <a href="#/home" (click)="cart.SetPriceOperator()" [ngClass]="{color: cart.IsPriceOperator() ? 'darkgrey' : '#444'}">Pr</a>
                        </li>
                        <li>
                            <a href="#/home" (click)="cart.SetMultipleOperator()" [ngClass]="{color: cart.IsMultipleOperator() ? 'darkgrey' : '#444'}">MUP</a>
                        </li>
                    </ul>
                </div>
                <div class="cal-opt item">
                    <ul>
                        <li><a href="#/home" (click)="cart.OperatorCmd('d')">Del</a></li>
                        <li><a href="#/home" (click)="cart.Clear();">Clear</a></li>
                        <li><a href="#/home">CheckOut</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="rightbox" class="right-col">
            <div class="tool-bar" id="toolbar">
                <div class="search">
                    <input type="text" class="text" placeholder="Search" ng-model="searchSku" />
                    <button class="btn" (click)="searchProduct()">Search</button>
                </div>
                <div class="clear"></div>
            </div>

            <div class="p-list" id="plist">
                <div class="p-item" *ngFor="let s of sku.skus" (click)="addToCart(s)">
                    <a onclick="return false;" title={{s.SkuName}}>
                        <img src="images/products/{{s.SkuCode}}.jpg" alt="">
                        <span class="p-name">{{s.SkuName}}</span>
                        <span class="p-label">{{s.SkuPrice}}</span>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <div id="divbg" style="display: none;">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $('#leftbox').attr('style', 'height:' + (window.innerHeight - 65) + 'px')
        $('.items').attr('style', 'height:' + (window.innerHeight - 380) + 'px')
        $('#rightbox').attr('style', 'height:' + (window.innerHeight - 65) + 'px')
        $('.p-list').attr('style', 'height:' + (window.innerHeight - 155) + 'px')
        $('#Selectbox').attr('style', 'height:' + (window.innerHeight - 65) + 'px')
        $('.button-group').attr('style', 'height:' + (window.innerHeight - 155) + 'px')
        $('#diveditcontent').attr('style', 'height:' + (window.innerHeight - 67) + 'px;' + 'display:none;' + 'border-radius:10px 10px 0 0;')

        window.onresize = function () {
            $('#leftbox').attr('style', 'height:' + (window.innerHeight - 65) + 'px')
            $('.items').attr('style', 'height:' + (window.innerHeight - 380) + 'px')
            $('#rightbox').attr('style', 'height:' + (window.innerHeight - 65) + 'px')
            $('.p-list').attr('style', 'height:' + (window.innerHeight - 155) + 'px')
            $('#Selectbox').attr('style', 'height:' + (window.innerHeight - 65) + 'px')
            $('.button-group').attr('style', 'height:' + (window.innerHeight - 155) + 'px')
            $('#diveditcontent').attr('style', 'height:' + (window.innerHeight - 67) + 'px;' + 'display:none;' + 'border-radius:10px 10px 0 0;')

        }   
    </script>
<script type="text/javascript">
        var divheader = document.getElementById("divheader");
        var divbg = document.getElementById("divbg");
        var diveditcontent = document.getElementById("diveditcontent");
        var selects = document.getElementsByTagName("select");
        var divcontent = document.getElementById("divcontent");
        var divtoolbar = document.getElementById("toolbar");
        var divplist = document.getElementById("plist");
        var divbuttonsku = document.getElementById("button-sku");
        var divbuttonbarcode = document.getElementById("button-barcode");

        function Show(Key) {

            divtoolbar.style.display = "none";
            divplist.style.display = "none";

            //divbg.style.display = "";
            divbg.style.width = document.body.offsetWidth;  //浏览器宽度(滚动条+clientwidth+边框）

            divbg.style.height = document.body.offsetHeight;

            diveditcontent.style.display = "";

            divbuttonbarcode.style.background="#3072b3";
            divbuttonbarcode.style.color = "#fff";
            divbuttonbarcode.style.borderColor = "#3072b3";
            divbuttonbarcode.style.textShadow = "0px 0px 0 #fff";

            divbuttonsku.style.background = "#ececec";
            divbuttonsku.style.color = "#333";
            divbuttonsku.style.borderColor = "#d4d4d4";
            divbuttonsku.style.textShadow = "0px 0px 0 rgba(0,0,0,0.3)";

        }
        function Hide() {
            //隐藏窗口
            //document.location = location.reload();
            divbg.style.display = "none";
            diveditcontent.style.display = "none";
            divtoolbar.style.display = "";
            divplist.style.display = "";

            divbuttonsku.style.background = "#3072b3";
            divbuttonsku.style.color = "#fff";
            divbuttonsku.style.borderColor = "#3072b3";
            divbuttonsku.style.textShadow = "";

            divbuttonbarcode.style.background = "#ececec";
            divbuttonbarcode.style.color = "#333";
            divbuttonbarcode.style.borderColor = "#d4d4d4";
            divbuttonbarcode.style.textShadow = "";

            for (var i = 0; i < selects.length; i++) {
                selects[i].style.display = "";
            }
        }
        var th;
        var tw;
    </script>